* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.title {
  color: #3a3a3a;
  text-align: center;
  font-weight: 700;
  margin-top: 150px;
}

.google-button {
  display: table;
  margin: 0 auto;
  margin-top: 40px;
}
