.App-logo {
  height: 110px;
  width: 240px;
  display: table;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 15px;
}

.google-button {
  display: table;
  margin: 0 auto;
  margin-top: 40px;
}
